.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
    justify-content: space-around;
    justify-items: stretch;
}